@charset "utf-8";
.content {
    overflow-x: hidden;
    margin-top: 80px;
}

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_title {
    text-align: center;
    font-family: 'InkPen';
    font-size: 78px;
    padding:0px 30px;
    font-weight:600;
    padding-bottom: 30px;
}

.ch_page_tit {
    font-family: 'Zenkuren';
}

.page_title::before, .page_title::after {
    font-size:100px;
    display:inline-block;
    margin-top: 10px;
}

.page_title::before {
    content:'\231C';
}

.page_title::after {
    content:'\231F';
}

.page_grid {
    clear: both;
    width: 100%;
}

#page0 {
    min-height: 500px;
    align-content: center;
    background-color: #fff;
    background-image: url("../images/row04_1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
}

.row0 {
    clear:both;
    width: 100%;
    min-height: 50px;
}

.box_tit {
    text-align: left;
    font-size:42px;
    font-family: 'InkPen';
}

.box_lst {
    display:flex;
    justify-content: space-between;
}

.box_lst .box_item a {
    display: block;
    width: 102px;
    height: 130px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.box_lst .box_item .box_item_wrap {
    border-radius: 50%;
    border: 1px solid #8f8d8c;
    width: 100px;
    height: 100px;
    background-color: #EFEBEA;
}

.box_lst .box_img1 {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.box_lst .box_img2 {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.box_lst .box_item_tit {
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 30px;
    position:absolute;
    left: 0;
    bottom:0;
}

#box_item1 .box_img1 {
    background-image: url("../images/quickIcon1_260108.png");
    background-position: -350px 0;
}

#box_item1 a:hover .box_img1 {
    transform: rotate(360deg);
}

#box_item2 .box_img1 {
    background-image: url("../images/quickIcon1_260108.png");
    background-position: -210px 0;
}

#box_item2 a:hover .box_img1 {
    transform:rotateY(360deg);
}

#box_item3 .box_img1 {
    background-image: url("../images/quickIcon1_260108.png");
    background-position: -420px 0;
}

#box_item3 a:hover .box_img1 {
    transform:rotateX(360deg);
}

#box_item4 .box_img2 {
    background-image: url("../images/quickIcon2_241129.png");
    background-position: 0 0;
}

#box_item4 a:hover .box_img2 {
    transform: translateX(110px);
} 

#box_item5 .box_img2 {
    background-image: url("../images/quickIcon2_241129.png");
    background-position: -200px 0;
}

#box_item5 a:hover .box_img2 {
    transform: scale(1.8);
}

#box_item6 .box_img2 {
    background-image: url("../images/quickIcon2_241129.png");
    background-position: -50px -50px;
}

#box_item6 a:hover .box_img2 {
    transform: scale(0.6);
}

#box_item7 .box_img2 {
    background-image: url("../images/quickIcon2_241129.png");
    background-position: -150px 0;
}

#box_item7 a:hover .box_img2 {
    transform: skew(-45deg);
}

#page1 {
    background-color: #f9fff2;
    background-image: url("../images/section_bg2.jpg"), url("../images/section_bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top, center bottom;
    min-height: 110vh;
}

.row1, .row2 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: space-between;
}

.row1 figure, .row2 figure {
    filter: brightness(0.8);
    transition: 0.5s;
}

.row1 figure:hover, .row2 figure:hover {
    filter: brightness(1.2);
}

.big_thumb {
    position: relative;
    border-radius: 45px;
    overflow: hidden;

}

.big_thumb img {
    border: 1px solid #f1f1f1;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.big_thumb:hover img {
    border: 1px solid #05AFF2;
    transform: scale(1.3);
}

.big_thumb .thumb_content {
    position:absolute;
    width: 100%;
    top: 43px;
    z-index: 80;
    padding-top: 24px;
}

.tit1, .tit2, .tit3 {
    text-align: center;
    font-family: 'InkPen';
    color: #faf8f7;
    font-weight: 500;
    text-shadow: 1px 1px 0px #333;
    align-items: center;
    line-height: 1.4;
}

.s_thumb .tit2:hover {
    color: #6f6b6b;
    text-shadow: 1px 1px 0px #aaa;
}

.tit1 {
    font-size:36px;
}

.tit2 {
    font-size: 48px;
}

.s_thumb {
    position: relative;
    overflow: hidden;
    border-radius: 45px;
    background-color: #b1aeae;
}

.s_thumb img {
    transition: opacity 0.6s ease, filter 0.6s ease;
}

.s_thumb:hover img {
    opacity: 0;
    filter: blur(10px);
}

.s_thumb .thumb_content {
    position:absolute;
    width: 100%;
    top: 55px;
    z-index: 80;
    padding-top: 24px;
}