@charset "utf-8";

#page2 {
    background-color: #fff;
    background-image: url("../images/section_bg1_2.png"), url("../images/section_bg1_1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top, right bottom;
    min-height: 105vh;
    background-color: #EFEBEA;
}

.page_grid2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.row3 {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.movie_wrap .col {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.6s;
}

.movie_wrap .col:hover {
    background-size: auto 120%;
}

#movie1 {
    width: 320px;
    height: 426px;
    background-image: url("../images/row03_01.jpg");
}

#movie1:hover {
    transform: translateX(-100px);
}

.movie_lst {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 680px;
}

.movie_lst .col {
    width: calc(50% - 5px);
    height: 208px;
}

#movie2 { 
    background-image: url("../images/row03_02.jpg");
}

#movie2:hover {
    transform: translateY(-100px);
}

#movie3 { 
    background-image: url("../images/row03_03.jpg");
}

#movie3:hover {
    transform: translateY(-100px);
}

#movie4 { 
    background-image: url("../images/row03_04.jpg");
}

#movie4:hover {
    transform: translateY(100px);
}

#movie5 { 
    background-image: url("../images/row03_05.jpg");
}

#movie5:hover {
    transform: translateY(100px);
}

#movie6 {
    width: 320px;
    height: 426px;
    background-image: url("../images/row03_06.jpg");
}

#movie6:hover {
    transform: translateX(100px);
}

.movie_lst .col a, #movie1 a, #movie6 a {
    display:block;
    width: 100%;
    height: 100%;
    background-image: url("../images/ico05.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.movie_lst .col a:hover, #movie1 a:hover {
    background: none;
}

.row4 {
    clear:both;
    width: 100%;
    margin-top: 75px;
}

.sns_lst {
    display:flex;
    justify-content: space-between;
}

.sns_lst .sns_item a {
    display: block;
    width: 210px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.sns_lst .sns_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: s5px;
}

#sns_item1 .sns_img {
    background-image: url("../images/snsIcon.png");
    background-position: 0 0;
}

#sns_item2 .sns_img {
    background-image: url("../images/snsIcon.png");
    background-position: -200px 0;
}

#sns_item3 .sns_img {
    background-image: url("../images/snsIcon.png");
    background-position: 0 -70px;
}

#sns_item4 .sns_img {
    background-image: url("../images/snsIcon.png");
    background-position: -200px -70px;
}

#sns_item1 .sns_img:hover {
    border: 1px solid #6f6b6b;
    box-shadow: 2px 2px 0 #5f5a5a;
}

#sns_item2 .sns_img:hover {
    border: 1px solid #6f6b6b;
    box-shadow: 1px 1px 0 #5f5b5b, 3px 3px #4f4b4b;
}

#sns_item3 .sns_img:hover {
    border: 1px solid #6f6b6b;
    box-shadow: 2px 2px 0 #5f5a5a;    
}

#sns_item4 .sns_img:hover {
    border: 1px solid #6f6b6b;
    box-shadow: 2px 2px 0 #5f5a5a;
}